p {
  margin-bottom: 0;
}

body {
  background-color: pink;
  font-size: calc(1.25vw + 4px);
}

header {
  background-color: palevioletred;
  color: white;
}

.custom-max-width {
  max-width: 650px;
}

.card {
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  color: darkred;
}

.heart-image {
  max-width: 90% !important;
}

footer {
  background-color: palevioletred;
  color: white;
  position: absolute;
  bottom: 0;
}
