p {
  margin-bottom: 0;
  font-size: clamp(1px, calc(1.25vw + 4px), 18px);
}

a,
a:hover,
a:active,
a:visited {
  color: white;
}

h1 {
  font-size: calc(0.75rem + 2vw);
  font-family: "Style Script", cursive;
}

body {
  background-color: pink;
}

header {
  background-color: palevioletred;
  color: white;
}

.custom-max-width {
  max-width: 650px;
}

.card {
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  color: darkred;
}

.heart-image {
  max-width: 90% !important;
}

footer {
  background-color: palevioletred;
  color: white;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
